<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <title></title>
</head>
<body class="main-body black whiteText">

<header class="navbar navbar-inverse">
    <nav class="container">
        <ul class="list-inline list-unstyled">
            <li class="navbar-brand rainbow">Movie's are like rainbows!</li>
            <li class="navbar-right">
                <ul class="list-inline list-unstyled nav-list">
                    <li><a href="/">Home</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<section class="container">
    <h3 class="whiteText">Add A Movie</h3>
    <form th:action="@{/moviepost}" method="post">
        <div class="form-group">
            <label for="title">Movie</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Movie Title Here"/>
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" name="genre" class="form-control" id="genre" placeholder="Movie Genre Here"/>
        </div>
        <div class="form-group">
            <label for="imdb">IMDB Link</label>
            <input type="text" name="imdb" class="form-control" id="imdb" placeholder="IMDB Address Here"/>
        </div>
        <div class="form-group">
            <label for="releaseDate">Release Date</label>
            <input type="text" name="releaseDate" class="form-control" id="releaseDate" placeholder="Release Date Here"/>
        </div>

        <button type="submit" class="btn btn-danger rainbow">Add</button>
    </form>
</section>


</body>
</html>